body {
    background-color: #f8f9fa;
  }
 
  .recipe-details {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .recipe-details .recipe-image img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
  
  .recipe-details h1, .recipe-details h2 {
    color: #343a40;
  }
  
  .recipe-details p, .recipe-details ul, .recipe-details ol {
    color: #6c757d;
  }
  